@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Antonio Membrides Espinosa<br />
    <abbr title="Phone">Phone:</abbr>
    (+53) 54320355
</address>

<address>
    <strong>Support:</strong> <a href="mailto:tonykssa@gmail.com">tonykssa@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:tonykssa@gmail.com">tonykssa@gmail.com</a>
</address>
